body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline: none !important;
}
.item {
  margin: 10px 0;
  background: transparent;
  padding: 8px 12px;
}

.item:nth-child(odd) {
  background: rgb(252, 252, 252);
}
.item .delete {
  cursor: pointer;
}
.item .edit {
  cursor: pointer;
}

.complete {
  background: rgb(96, 248, 96) !important;
}
